# Application
NODE_ENV=production
PORT=3000

# Base de données
# ⚠️ VULN : mot de passe de production copié depuis .env
DB_HOST=prod-db.techflow-internal.com
DB_PORT=5432
DB_NAME=techflow_prod
DB_USER=techflow_admin
DB_PASSWORD=Sup3rS3cr3tDB!2024      # ← VRAI MOT DE PASSE DE PROD !

# AWS
# ⚠️ VULN : vraies clés AWS de production
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

# JWT
JWT_SECRET=techflow2024secret
JWT_EXPIRES_IN=7d

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_live_51AbCdEfGhIjKlMnOpQrStUv
STRIPE_SECRET_KEY=sk_live_51AbCdEfGhIjKlMnOpQrStUv    # ← CLÉ LIVE STRIPE !
STRIPE_WEBHOOK_SECRET=whsec_aBcDeFgHiJkLmNoPqRsTuVwXyZ

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXX

# SendGrid
SENDGRID_API_KEY=SG.aBcDeFgHiJkLmNoPqRsTuVwXyZ.1234567890